@model CreatePasswordViewModel
<link href="~/admin/css/admincss/login.css" rel="stylesheet" />
<div class="container" !important>
    <div class="screen">
        <div class="screen__content">
            <form asp-controller="Login" asp-action="CreatePassword" class="login" method="post">
				<input type="hidden" asp-for="Id" />
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Password" type="password" class="login__input" placeholder="Password">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="PasswordAgain" type="password" class="login__input" placeholder="Password Again">
                </div>
                <div class="login__field"><p>@ViewBag.AgainPassword</p></div>
                <button class="button login__submit" >
                    <span class="button__text">Save</span>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>